@import './logo';
.header {
    border-bottom: 1px solid #ececec;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}

.menu-wrap {
    display: none;
}
.mobile-btn {
    display: inline-flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}
