.product {
    display: flex;
    .product__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    .product__image {
        display: block;
    }
    .product__wrapper {
        position: absolute;
        padding: 27px 0 27px 0;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background: rgba(47, 48, 58, 0.8);
    }
}
