body {
    color: $mainTextColor;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.logo {
    padding-top: 24px;
    padding-bottom: 25px;

    color: $secondaryColor;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    &__part {
        color: $accentColor;
    }
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.button {
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    padding: 10px 32px;
    border: 0;
    min-width: 200px;
    color: $generalColor;
    background-color: $accentColor;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-title {
    color: $mainTitleColor;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}
.reuse__title {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $generalColor;
}
