$accentColor: #2196f3;
$mainTextColor: #757575;
$secondaryTextColor: rgba(255, 255, 255, 0.6);
$mainTitleColor: #212121;

$generalColor: #ffffff;
$secondaryColor: #000000;

//backgrounds

$lightBack: #f5f4fa;
$darkBack: #2f303a;
$cardOverlay: rgba(33, 150, 243, 0.9);

// link color
$mainLinkColor: #afb1b8;
